---
apiVersion: v1
kind: Secret
metadata:
  name: secrets
type: Opaque
stringData:
  MYSQL_ROOT_PASSWORD: VeryStrongPassword 
  MYSQL_DATABASE: visualoffice 
  MYSQL_USER: visualoffice
  MYSQL_PASSWORD: VeryStrongPassword