---
apiVersion: v1
kind: Secret
metadata:
  name: {{ template "mysql.fullname" . }}-secret
  labels:
    app: visualoffice
    component: mysql
    release: {{ .Release.Name}}
type: Opaque
stringData:
  MYSQL_ROOT_PASSWORD: replace_root_password 
  MYSQL_DATABASE: replace_database
  MYSQL_USER: replace_mysql_user
  MYSQL_PASSWORD: replace_mysqluser_password