---
apiVersion: v1
kind: Secret
metadata:
  name: {{ template "usersapi.fullname" . }}-secret
  labels:
    app: visualoffice
    component: usersapi
    release: {{ .Release.Name }}
type: Opaque
stringData:
  MYSQL_USER: replace_mysql_user 
  MYSQL_USER_PASSWORD: replace_mysqluser_password
  MYSQL_DATABASE: replace_database