# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
*.terraform.tfstate.lock.info

# Charts
kubernetes/charts/gitlab
kubernetes/charts/grafana
kubernetes/charts/prometheus
kubernetes/charts/prometheus-mysql-exporter
secret.yaml
certificate-visualoffice.yml
cluster-Issuer-production.yml

# Application
VisualOffice-App/

# Docker
docker-compose.dcproj
docker-compose.override.yml
docker-compose.yml

# Gitlab CI
gitlab_ci/visualoffice/
gitlab_ci/visualoffice-deploy/

# Scripts
scripts/env/environment.sh
