# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars

# Charts
cadvisor/
gitlab-omni/

# Application
VisualOffice-App/

# Docker
docker-compose.dcproj
docker-compose.override.yml
docker-compose.yml

# Gitlab CI
gitlab_ci/visualoffice/
gitlab_ci/visualoffice-deploy/

# Scripts
scripts/helm.sh